* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
table {
  text-align: center;
  margin: 10px auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  border-collapse: collapse;
}
table td {
  border: 1px solid #e7e7e7;
}
table tr:nth-child(odd) {
  background-color: #f8f8f8;
}

table tr:nth-child(odd) td {
  padding: 10px 20px;
  font-size: small;
  font-weight: 500;
}
table tr:last-child td {
  color: rgb(163, 163, 163);
}

table tr:nth-child(even) td {
  padding: 10px 100px;
  font-size: small;
  font-weight: 500;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.go-button {
  background-color: rgb(2, 103, 218);
  color: white;
  padding: 5px;
  border: none;
  border-radius: 3px;
}
.go-button:hover {
  cursor: pointer;
  background-color: rgb(4, 94, 196);
}
